<div class="chrome-extension" style="color: #00A7FF; text-decoration: none; font-size: 12px; margin: 20px 0; display: inline-block; font-weight: 300;">
    <a href="#" style="color: #00A7FF; font-weight: 300;">
      <img src="http://roman.icemint.org/temp/img/switch/chrome-logo.png" alt="chrome-logo" style="margin-right: 5px; display: inline-block; vertical-align: middle;">
      <span style="display: inline-block; vertical-align: middle;">
          Download our Chrome extension
      </span>
    </a>
</div>
