<div class="content-cta">
    <div class="cta-button" href="http://www.switchapp.com" style="display: inline-block; background: #00A7FF; color: #fff !important;padding-left: 20px;padding-right: 20px;padding-top: 13px;padding-bottom: 12px;text-align: center;color: #fff;font-weight: 300;text-decoration: none;text-transform: uppercase;box-sizing: border-box;font-size: 13px; border-radius: 1.67px;">VIEW PROFILE</a>
    <div class="chrome-extension" style="color: #00A7FF; text-decoration: none; font-size: 12px; margin: 20px 0; display: inline-block; font-weight: 300;">
        <a href="#" style="color: #00A7FF; font-weight: 300;">
          <img src="http://roman.icemint.org/temp/img/switch/chrome-logo.png" alt="chrome-logo" style="margin-right: 5px; display: inline-block; vertical-align: middle;">
          <span style="display: inline-block; vertical-align: middle;">
              Download our Chrome extension
          </span>
        </a>
    </div>

</div>
