<div id="switch-footer" class="footer-deletion" style="padding: 20px 0 50px; width: 100%; height: 100%; box-sizing: border-box;">
    <table id="contact-info" style="width: 100%; padding-bottom: 2px; width: 100%;">
        <tbody>
            <tr>
                <td>
                    <div class="footer-content">
                        <div class="footer-row rtl">
                            <div class="social-block" style="padding: 0 15px; margin-bottom: 20px; text-align: center; direction: ltr;">
                                <a class="social-button" href="#" style="margin-right: 40px; width: 30px; text-decoration: none; color: #00A7FF;">
                                    <img style="width: 30px;" src="http://roman.icemint.org/temp/img/switch/insta-button.png" alt="">
                                </a>
                                <a class="social-button" href="#" style="margin-right: 40px; width: 30px; text-decoration: none; color: #00A7FF;">
                                    <img style="width: 30px;" src="http://roman.icemint.org/temp/img/switch/twitter-button.png" alt="">
                                </a>
                                <a class="social-button" href="#" style="margin-right: 40px; width: 30px; text-decoration: none; color: #00A7FF;">
                                    <img style="width: 30px;" src="http://roman.icemint.org/temp/img/switch/linkedin-button.png" alt="">
                                </a>
                                <a class="social-button" href="#" style="margin-right: 0 !important; width: 30px; text-decoration: none; color: #00A7FF;">
                                    <img style="width: 30px;" src="http://roman.icemint.org/temp/img/switch/facebook-button.png" alt="">
                                </a>
                            </div>

                            <div class="copyright-block" style="line-height: 1.5; text-align: center; font-weight: 300; margin-bottom: 0; color: #434343 !important;">
                                Copyright © Switch App • 1&zwnj;0 West 18&zwnj;th Street, New York, 10011
                            </div>
                        </div>

                        <div class="footer-row">
                            <div class="app-block" style="width: 100%; margin-top: 20px; position: relative; top: 1px;">
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="padding: 0 10px 0 0; text-align: right;">
                                            <a href="#">
                                                <img src="http://roman.icemint.org/temp/img/switch/app-store-button.png" width="108" alt="app-store">
                                            </a>
                                        </td>
                                        <td style="padding: 0 0 0 10px;">
                                            <a href="#">
                                                <img src="http://roman.icemint.org/temp/img/switch/google-play-button.png" width="108" alt="app-store">
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
