<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

        body {
            font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif !important;
            font-weight: 300 !important;
            font-size: 16px;
            color: #434343;
            width: 100%;
            margin: 0 auto !important;
            background: #f2f2f2;
        }

        table,
        td {
            border-collapse: collapse;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            box-sizing: border-box;
        }

        ol, ul {
            padding-left: 30px;
        }

        ol > li, ul > li {
            margin-bottom: 20px !important;
        }

        a, a[href] {
            color: #00A7FF !important;
            text-decoration: none;
        }

        a.cta-button, a[href].cta-button {
            color:  #fff !important;
        }

        .content {
            height: 100%;
            font-size: 16px !important;
            padding: 0 10px !important;
        }

        .content p {
            line-height: 1.5em !important;
            color: #434343 !important;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .content .media p {
            line-height: 1.2em !important;
        }

        .content-sm {
            height: 100%;
            font-size: 12px;
        }

        .content-sm p {
          line-height: 1.5em;
          margin-bottom: 5px;
        }

        h2 {
            text-align: center;
            font-weight: 300 !important;
            margin-bottom: 30px;
        }

        h4 {
            font-weight: 300 !important;
            margin-bottom: 18px;
        }

        #switch-header {
            margin-top: 30px;
            margin-bottom: 40px;
        }

        .cta-div {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .cta-button {
            background: #00A7FF;
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 14px;
            padding-bottom: 13px;
            min-width: 160px !important;
            text-align: center;
            border-radius: 1px;
            color: #fff !important;
            font-weight: 300;
            text-decoration: none;
            text-transform: uppercase;
            box-sizing: border-box;
            font-size: 13px;
        }

        #switch-footer {
            background-color: #F2F2F2 !important;
        }

        .social-links {
            margin-bottom: 45px;
        }

        .social-links a {
            text-decoration: none;
        }

        .social-button {
            width: 30px !important;
            height: 30px !important;
        }

        .social-button img {
            max-width: 100%;
        }

        .media tr td {
            vertical-align: top;
            padding: 0;
        }

        .media p {
            margin-top: 0;
            margin-bottom: 20px;
        }

        #contact-info {
            font-weight: 300 !important;
            font-size: 12px;
            width: 100%;
        }

        .address {
            color: #434343 !important;
        }

        .copyright-block {
            width: 100%;
        }

        .content-list a {
            text-decoration: none !important;
        }

        .logo-block {
            text-align: center;
            padding: 10px 15px;
        }

        .footer-row {
            width: 100%;
        }

        .chrome-extension {
            display: block !important;
            margin: 20px 0;
        }

        .content-cta {
            margin: 20px 0;
        }

        @media screen and (min-width: 481px) {
            ul, ol {
                padding-left: 40px !important;
            }

            .layout {
                padding: 0 20px !important;
            }

            .logo-block {
                padding: 20px 0 !important;
            }

            .footer-row {
                display: table;
            }

            .footer-row + .footer-row {
                margin-top: 20px;
            }

            .footer-row.rtl {
                direction: rtl;
            }

            .footer-content {
              display: table !important;
              width: 100% !important;
            }

            .copyright-block {
                display: table-cell;
                vertical-align: middle;
                text-align: left !important;
            }

            .social-block {
                text-align: right !important;
                margin-top: 0 !important;
                display: table-cell !important;
                vertical-align: middle;
                padding: 2px 0 0 15px !important;
            }

            .app-block {
                display: table-cell;
                vertical-align: middle;
                margin-top: 0 !important;
                position: relative !important;
                top: 1px !important;
            }

            .social-button {
                margin-right: 12px !important;
            }

            .footer-links {
                margin-top: 0 !important;
                margin-bottom: 0 !important;
                display: table-cell !important;
                vertical-align: middle;
                text-align: left !important;
            }

            .content {
                padding: 0 20px 0 !important;
            }

            .content-cta {
                padding: 0 20px 20px !important;
                display: table !important;
                width: 100%;
            }

            .content-cta .chrome-extension {
                display: table-cell !important;
                vertical-align: middle;
                text-align: right;
            }

            .content-sm {
                padding: 0 20px 20px !important;
            }

            .content-list {
              padding: 0 20px 5px !important;
            }

            .media strong {
                font-size: 20px !important;
            }

            .media p {
                font-size: 16px !important;
            }

            .media.unread-message p strong {
                font-size: 16px !important;
            }

            .media img {
              max-width: 150px !important;
            }

            .link-divider {
                padding: 0 7px !important;
            }

            .footer-deletion .copyright-block {
                width: auto !important;
            }

            .footer-deletion .app-block {
                max-width: 236px !important;
                margin-left: auto !important;
                display: block !important;
            }

            .unread-message-text {
                margin-bottom: 30px !important;
            }

            .recomendation-block {
                margin-top: 4px !important;
            }

            .visible-desktop {
                display: inline !important;
            }

            .hidden-desktop {
                display: none !important;
            }

            .no-mb-desktop {
                margin-bottom: 0 !important;
            }

            .no-m-desktop {
                margin: 0 !important;
            }
        }
    </style>
</head>
