<!DOCTYPE html>
<html>

@import "templates/head.html"

<body>

    <!-- use table to achieve full height/width background color -->
    <table style="max-width: 600px; width: 100%; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;">
        <tr>
            <td width='100%' style="color: #434343; font-weight: 300; line-height: 1.5em; padding: 0;">
                <div class="content" style=" background: #fff; color: #434343; padding: 15px 15px 10px 15px; font-weight: 300;">
                    <p style="color: #434343;">
                        Hi [Insert name],
                    </p>
                    <p style="color: #434343;">
                        You shouldn’t have to spend hours searching for a job. We think you’re pretty perfect for these opportunities:
                    </p>
                </div>

                <div class="content-list" style="padding: 0 15px 0; height: 100%; font-size: 16px !important;">
                    <div>
                        <p>
                            <a href="#" style="font-weight: 300; color: #00A7FF; text-decoration: none;">Creative Intern @Visual Country</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; color: #00A7FF; text-decoration: none;">Sports Reporting Intern @Business Insider, Inc.</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; color: #00A7FF; text-decoration: none;">Intern, Compliance Department @OppenheinerFunds</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; color: #00A7FF; text-decoration: none;">Marketing Assistant @Illuminage (Salary in your range)</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; color: #00A7FF; text-decoration: none;">Document Specialist / Junior Technical Writer @EPS Corporation</a>
                        </p>
                    </div>
                </div>

                <div class="content" style="padding: 0 15px 20px; height: 100%; font-size: 16px !important;">
                    <a class="cta-button" href="http://www.switchapp.com" style="font-size: 16px;margin-top: 10px;background: #00A7FF;padding-left: 20px;padding-right: 20px;padding-top: 15px;padding-bottom: 15px;text-align: center;vertical-align: middle;border-radius: 1px;color: #fff !important;font-weight: 300;text-decoration: none;text-transform: uppercase;display: inline-block !important; width: 100%; max-width: 250px;">apply now on switch!</a>
                </div>

                <div class="content-sm" style="background: #fff; color: #434343; padding: 0 15px 30px;">
                    <p style="max-width: 390px; margin-bottom: 20px; line-height: 1.5em; color: #434343;">
                        You are getting these recommendations because you’ve selected:
                        <br>
                        Creative & Art Direction, Writing, Copywriting, Editing
                        <br>
                        Interested in seeing different opportunities? <a href="{{ deeplink_profile }}" style="color: #00A7FF; text-decoration: none;"> Edit your profile.</a>
                    </p>
                    <p>
                        <a href="#" style="color: #00A7FF; text-decoration: none;">
                            <img src="http://roman.icemint.org/temp/img/switch/chrome-logo.png" alt="chrome-logo" style="margin-right: 5px; display: inline-block; vertical-align: sub; position: relative; top: 2px;">
                            Download our Chrome extension
                        </a>
                    </p>
                </div>

                @import "templates/footer.html"

            </td>
        </tr>
    </table>
</body>

</html>
