<!DOCTYPE html>
<html>

@import "templates/head.html"

<body>

    <!-- use table to achieve full height/width background color -->
    <table style="max-width: 600px; width: 100%; font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;">
        <tr>
            <td width='100%' style="color: #434343; font-weight: 300; line-height: 1.5em; padding: 0;">
                <div class="content" style=" background: #fff; color: #434343; padding: 15px 15px 0 15px; font-weight: 300;">
                    <p style="color: #434343;">
                        Hi [Insert name],
                    </p>
                    <p style="color: #434343;">
                        You shouldn’t have to spend hours searching for a job. We think you’re pretty perfect for these opportunities:
                    </p>
                </div>

                <div class="content-list" style="padding: 0 15px 0; height: 100%; font-size: 16px !important;">
                    <div>
                        <p>
                            <a href="#" style="font-weight: 300; text-decoration: none; color: #00A7FF">Creative Intern @Visual Country</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; text-decoration: none; color: #00A7FF">Sports Reporting Intern @Business Insider, Inc.</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; text-decoration: none; color: #00A7FF">Intern, Compliance Department @OppenheinerFunds</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; text-decoration: none; color: #00A7FF">Marketing Assistant @Illuminage (Salary in your range)</a>
                        </p>
                        <p>
                            <a href="#" style="font-weight: 300; text-decoration: none; color: #00A7FF">Document Specialist / Junior Technical Writer @EPS Corporation</a>
                        </p>
                    </div>
                </div>

                <div class="content" style="padding: 0 15px 20px; height: 100%; font-size: 16px !important;">
                    <a class="cta-button" href="http://www.switchapp.com" style="font-size: 16px;margin-top: 10px;background: #00A7FF;padding-left: 20px;padding-right: 20px;padding-top: 15px;padding-bottom: 15px;text-align: center;vertical-align: middle;border-radius: 1px;color: #fff !important;font-weight: 300;text-decoration: none;text-transform: uppercase;display: inline-block !important; width: 100%; max-width: 250px;">apply now on switch!</a>
                </div>
                <div class="content-sm" style="background: #fff; color: #434343; padding: 0 15px 20px;">
                    <p style="max-width: 390px; margin-bottom: 20px; color: #434343;">
                        You are getting these recommendations because you’ve selected:
                        <br>
                        Creative & Art Direction, Writing, Copywriting, Editing
                        <br>
                        Interested in seeing different opportunities? <a href="{{ deeplink_profile }}"> Edit your profile.</a>
                    </p>
                    <p style="font-size: 12px; color: #434343;">
                        <span style="color: #D0011B !important; ">Your total years of experinece are now calculated by the Work Experience listed on your Profile.</span>
                        <a href="#" style="text-decoration: none; color: #00A7FF;">Update your Profile</a>, or email your resume to <a href="mailto:resume@switchapp.com" style="text-decoration: none; color: #00A7FF;">resume@switchapp.com</a>.
                    </p>
                </div>

                @import "templates/footer.html"
            </td>
        </tr>
    </table>
</body>

</html>